.intranet-logo{ 
    float:left; 
    display:block;
    margin-top:15px; margin-left:25px; 

}
.intranet-logo>img{ 
    display:block;
    width:130px !important; 
    max-width:130px !important;
}

.search-strip__table-cell>input{
    background-color:#fff;
}

.grid-row #logo-container{
    display:flex;
}
.site-header-a__logo{
    display:inline
}

@media only screen and (max-width: 924px) {
    .inner-wrapper-sticky {
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
    }
}

.inner-wrapper-sticky {
    z-index: 1;
}

.local-header ul, .local-header ul li {
    margin-top: 0.5em !important;
}

.nhsuk-button {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 28px;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 4px 0 #00401e;
    box-sizing: border-box;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin-top: 0;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: auto;
}

a.nhsuk-button:visited, a.nhsuk-button:link {
    color: #333333;
    text-decoration: none;
}

a.nhsuk-button:focus, a.nhsuk-button:hover, a.nhsuk-button:active {
    color: black;
    text-decoration: underline;
}

li > a.active {
    text-decoration: none;
    color: #333333;
}

img.latestBlog__icon__nhsimg {
    width: 40px;
    float: right;
    margin-right: 20px;
}

.nhsuk-inset-text {
max-width: 44em;
margin-bottom: 40px;
margin-top: 40px;
border-left: 12px solid #005eb8;
padding: 16px;
}
.nhsuk-inset-text>*:first-child {
margin-top: 0
}

.nhsuk-inset-text>*:last-child {
margin-bottom: 0
}

@media (min-width: 40.0625em) {
.nhsuk-inset-text {
margin-bottom:48px
}
}

@media (min-width: 40.0625em) {
.nhsuk-inset-text {
margin-top:48px
}
}

@media print {
.nhsuk-inset-text {
border-color: #212b32
}
}






.app-tabs {
    list-style-type: none;
    margin: -1px auto;
    margin-bottom: 0;
    overflow: visible;
    padding: 0
}

.app-tabs__item {
    font-size:0.8em;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 2;
    text-decoration: none;
}



    .app-tabs__item a {
        background: inherit;
        color: #005eb8;
        display: block;
        font-weight: bold;
        margin-top: -1px;
        padding: 15px;
        text-decoration: none !important;
        border-style: none;
        border-color: #005eb8;
    }

    .app-tabs__item--active a,
.app-tabs__item--current a {
    border-width: 3px;
    border-bottom-style: solid;
}


.app-tabs__item__heading a {
    background: inherit;
    border-top: 0;
    color: #005ea5;
    display: none;
    font-weight: bold;
    padding: 15px;
    position: relative;
    text-decoration: none;
    z-index: 2
}

    .app-tabs__item__heading a:visited {
        color: #005ea5
    }

.app-tabs__item__heading--current {
    background-color: #f0f0f0
}

.app-tabs__text {
    padding: 20px
}

.app-tabs__container {
    margin-top: -2px;
    position: relative
}

    .app-tabs__container pre {
        background-color: #f8f8f8;
        border: 0;
        font-size: inherit;
        margin: 0;
        margin-bottom: 0;
        max-width: inherit;
        overflow: auto;
        padding: 15px;
        position: relative
    }

.app-link--copy:link, .app-link--copy:active, .app-link--copy:visited, .app-link--copy:hover {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #007f3b;
    font-family: 'nta', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-width: 58px;
    padding: 4px 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 15px;
    z-index: 1
}

.app-tabs {
    background: #fff;
    border-bottom: 0;
    display: none
}

@media (min-width: 40.0625em) {
    .app-tabs {
        display: block
    }
}

.app-tabs__item {
    background-color: transparent;
    margin: 0
}

    .app-tabs__item a {
        font-weight: normal;
        margin: 0;
        padding: 8px 16px;
        text-decoration: underline
    }

@media (min-width: 40.0625em) {
    .app-tabs__item a {
        padding: 12px 24px
    }
}

.app-tabs__item a:hover {
    color: #7C2855;
    outline: 0;
    text-decoration: none
}

.app-tabs__item a:focus {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b,0 4px #212b32;
    color: #212b32;
    outline: 4px solid;
    text-decoration: none
}

.app-tabs__item--current a {
    text-decoration: none
}

@media (min-width: 40.0625em) {
    .app-tabs__item--current a {
        box-shadow: 0 4px 0 #005eb8
    }
}

.app-tabs__item--current a:hover {
    color: #005eb8
}

.app-tabs__item--current a:focus:hover {
    color: #212b32
}

.app-tabs__item--mobile {
    background-color: #fff;
    border-width: 1px 0;
    display: block;
    margin: -1px 0
}

@media (min-width: 40.0625em) {
    .app-tabs__item--mobile {
        display: none
    }
}

.app-tabs__container {
    background-color: #fff;
    border-bottom: 0;
    margin-top: 0
}

    .app-tabs__container pre {
        align-self: stretch;
        background-color: #fff;
        padding: 0
    }



.indent{
    display:block;
    padding-left:20px;
}


table {
    margin-bottom: 40px;
    border-spacing: 0;
    vertical-align: top;
    width: 100%
}

@media (min-width: 40.0625em) {
    table {
        margin-bottom:48px
    }
}

@media print {
    table {
        page-break-inside: avoid
    }
}

thead th {
    border-bottom: 2px solid #d8dde0
}

th,td {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-top: 8px;
    border-bottom: 1px solid #d8dde0;
    text-align: left;
    vertical-align: top
}

@media (min-width: 40.0625em) {
    th,td {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.47368
    }
}

@media print {
    th,td {
        font-size: 14pt;
        line-height: 1.15
    }
}


/* search */
input#query-main{
    background-color: #fff;;
}
.search-banner__form {
    padding-left:100px !important;
    padding-right:100px !important;
}
.search-banner {
    background: #f0f4f5;
    padding: 3.5em 0 3.8em;
    margin-bottom: 10px;
    min-height: 30px
}

.search-banner--short {
    padding: 2em 0 1.8em
}

.search-banner__headline {
    color: #fff;
    max-width: 420px;
    margin-bottom: 30px;
    font-family: "Frutiger W01",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none
}

@media (min-width: 925px) {
    .search-banner__headline {
        font-size:20px;
        line-height: 30px
    }
}

@media (min-width: 925px) {
    .search-banner__headline {
        max-width:500px
    }
}

.search-banner__form {
    position: relative;
    display: table;
    width: 100%;
    left: 3px
}

.search-banner__form .search-banner__input,.search-banner__form .search-banner__button {
    width: 100%
}

.search-banner__form>div {
    display: table-cell;
    min-width: 100px
}

.search-banner__form>div:not(:first-child) {
    width: 140px
}

@media (max-width: 640px) {
    .search-banner__form>div {
        display:block;
        width: 100%
    }

    .search-banner__form>div:not(:first-child) {
        width: 100%
    }

    .search-banner__form>div:first-child {
        margin-bottom: 1rem
    }
}

.search-banner__input {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    min-height: 30px;
    padding: 10px 16px;
    color: #425563;
    background-color: #f0f4f5;
    position: relative;
    border: 3px solid transparent;
    outline: 0;
    left: -3px;
    top: -3px;
    font-family: "Frutiger W01",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none
}

.search-banner__input:focus {
    border: 3px solid #FFB81C;
    outline: 0
}

@media (min-width: 925px) {
    .search-banner__input {
        font-size:20px;
        line-height: 30px
    }
}

.search-banner__button {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: "Frutiger W01",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #00386E;
    border: 0;
    box-shadow: 0 2px 0 #003364;
    cursor: pointer;
    letter-spacing: .5px;
    line-height: 1.25;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    position: relative;
    left: 1px;
    box-shadow: none;
    outline-offset: -3px;
    line-height: 30px;
    position: relative;
    border: 3px solid transparent;
    outline: 0;
    left: -3px;
    top: -3px
}

@media (min-width: 925px) {
    .search-banner__button {
        font-size:20px;
        line-height: 30px
    }
}

@media (min-width: 641px) {
    .search-banner__button {
        width:auto
    }
}

.search-banner__button+.button {
    margin-top: 16px
}

@media (min-width: 641px) {
    .search-banner__button+.button {
        margin-left:16px;
        margin-top: 0
    }
}

@media (min-width: 925px) {
    .search-banner__button+.button {
        margin-left:32px
    }
}

.search-banner__button:visited {
    background-color: #00386E
}

.search-banner__button:focus {
    outline: 3px solid #FFB81C
}

.search-banner__button:hover,.search-banner__button:focus {
    background-color: #002b55
}

.search-banner__button:active {
    box-shadow: 0 0 0 #00386E
}

.search-banner__button.disabled,.search-banner__button[disabled="disabled"],.search-banner__button[disabled] {
    opacity: .5
}

.search-banner__button.disabled:hover,.search-banner__button[disabled="disabled"]:hover,.search-banner__button[disabled]:hover {
    background-color: #00386E;
    cursor: default
}

.search-banner__button.disabled:active,.search-banner__button[disabled="disabled"]:active,.search-banner__button[disabled]:active {
    box-shadow: 0 2px 0 #012;
    top: 0
}

.search-banner__button:link,.search-banner__button:hover,.search-banner__button:focus,.search-banner__button:visited {
    color: #fff
}

.search-banner__button:before {
    background: transparent;
    content: "";
    display: block;
    height: 110%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.search-banner__button:active:before {
    height: 120%;
    top: -10%
}

.search-banner__button:before {
    height: 0
}

.search-banner__button:focus {
    border: 3px solid #FFB81C;
    outline: 0
}

.highlight {
    background: #fada8b;
    color: black
}

.search-strip {
    position: relative;
    display: block;
    height: 44px;
    overflow: hidden
}

.search-strip__margin {
    margin-top: 20px
}

.search-strip__table-cell {
    position: relative;
    display: table-cell;
    width: auto;
    vertical-align: middle;
    height: 100%
}

.search-strip__table-cell--button {
    width: 44px
}

.search-strip__contents {
    position: relative;
    width: 100%;
    display: table;
    top: 3px;
    left: 3px
}

.search-strip__input {
    font-family: "Frutiger W01",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: none;
    position: relative;
    border: 3px solid transparent;
    outline: 0;
    left: -3px;
    top: -3px;
    border: 2px solid #005EB8;
    border-right-width: 0;
    border-right-color: #f0f4f5;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 44px;
    line-height: 18px;
    padding: 10px 14px;
    color: #425563;
    background-color: #f0f4f5
}

@media (min-width: 925px) {
    .search-strip__input {
        font-size:18px;
        line-height: 30px
    }
}

.search-strip__input:focus {
    border: 3px solid #FFB81C;
    outline: 0
}

.search-strip__input:focus {
    padding: 10px 13px
}

.search-strip__button {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: "Frutiger W01",Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #005EB8;
    border: 0;
    box-shadow: 0 2px 0 #0059ae;
    cursor: pointer;
    letter-spacing: .5px;
    line-height: 1.25;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    position: relative;
    border: 3px solid transparent;
    outline: 0;
    left: -3px;
    top: -3px;
    width: 44px;
    height: 44px;
    padding: 0;
    box-shadow: none;
    outline-offset: -3px;
    text-align: center;
    vertical-align: middle;
    line-height: 44px
}

@media (min-width: 925px) {
    .search-strip__button {
        font-size:20px;
        line-height: 30px
    }
}

@media (min-width: 641px) {
    .search-strip__button {
        width:auto
    }
}

.search-strip__button+.button {
    margin-top: 16px
}

@media (min-width: 641px) {
    .search-strip__button+.button {
        margin-left:16px;
        margin-top: 0
    }
}

@media (min-width: 925px) {
    .search-strip__button+.button {
        margin-left:32px
    }
}

.search-strip__button:visited {
    background-color: #005EB8
}

.search-strip__button:focus {
    outline: 3px solid #FFB81C
}

.search-strip__button:hover,.search-strip__button:focus {
    background-color: #00519f
}

.search-strip__button:active {
    box-shadow: 0 0 0 #005EB8
}

.search-strip__button.disabled,.search-strip__button[disabled="disabled"],.search-strip__button[disabled] {
    opacity: .5
}

.search-strip__button.disabled:hover,.search-strip__button[disabled="disabled"]:hover,.search-strip__button[disabled]:hover {
    background-color: #005EB8;
    cursor: default
}

.search-strip__button.disabled:active,.search-strip__button[disabled="disabled"]:active,.search-strip__button[disabled]:active {
    box-shadow: 0 2px 0 #00376c;
    top: 0
}

.search-strip__button:link,.search-strip__button:hover,.search-strip__button:focus,.search-strip__button:visited {
    color: #fff
}

.search-strip__button:before {
    background: transparent;
    content: "";
    display: block;
    height: 110%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.search-strip__button:active:before {
    height: 120%;
    top: -10%
}

.search-strip__button:focus {
    border: 3px solid #FFB81C;
    outline: 0
}

.search-strip__button:before {
    height: 0
}

@media (min-width: 641px) {
    .search-strip__button {
        width:44px
    }
}

.search-strip__button svg,.search-strip__button img {
    position: relative;
    display: block;
    width: 50%;
    height: auto;
    left: 25%;
    fill: #fff
}
 
.search-results .cta-list  .cta--detailed .cta__label{
    float:right;
    background-color:darkgray;
    color:#fff;
}
.search-results .cta-list .cta--detailed,
.search-results .cta-list .cta:first-child{
    padding:15px;
    background-color: #fff;
    display:block;
    margin-bottom:20px;
}



.nhsuk-back-link {
    margin-bottom: 16px
}

.nhsuk-back-link__link {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.71429;
    display: inline-block;
    padding-left: 16px;
    position: relative;
    text-decoration: none
}

@media (min-width: 40.0625em) {
    .nhsuk-back-link__link {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.5
    }
}

@media print {
    .nhsuk-back-link__link {
        font-size: 14pt;
        line-height: 1.2
    }
}

.nhsuk-back-link__link .nhsuk-icon__chevron-left {
    height: 24px;
    left: -8px;
    position: absolute;
    top: -1px;
    width: 24px
}

.nhsuk-back-link__link:visited {
    color: #005eb8
}

.nhsuk-back-link__link:hover {
    color: #7C2855;
    text-decoration: underline
}

.nhsuk-back-link__link:hover .nhsuk-icon__chevron-left {
    fill: #7C2855
}

.nhsuk-back-link__link:focus .nhsuk-icon__chevron-left {
    fill: #212b32
}



.nhsuk-summary-list {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 32px
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.47368
    }
}

@media print {
    .nhsuk-summary-list {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list {
        display:table;
        table-layout: fixed;
        width: 100%
    }
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list {
        margin-bottom:40px
    }
}

@media (max-width: 40.0525em) {
    .nhsuk-summary-list__row {
        border-bottom:1px solid #d8dde0;
        margin-bottom: 16px
    }
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list__row {
        display:table-row
    }
}

.nhsuk-summary-list__key,.nhsuk-summary-list__value,.nhsuk-summary-list__actions {
    margin: 0
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list__key,.nhsuk-summary-list__value,.nhsuk-summary-list__actions {
        border-bottom:1px solid #d8dde0;
        display: table-cell;
        padding-bottom: 8px;
        padding-right: 24px;
        padding-top: 8px
    }
}

.nhsuk-summary-list__actions {
    margin-bottom: 16px
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list__actions {
        padding-right:0;
        text-align: right;
        width: 20%
    }
}

.nhsuk-summary-list__key,.nhsuk-summary-list__value {
    overflow-wrap: break-word;
    word-wrap: break-word
}

.nhsuk-summary-list__key {
    font-weight: 600;
    margin-bottom: 4px
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list__key {
        width:30%
    }
}

@media (max-width: 40.0525em) {
    .nhsuk-summary-list__value {
        margin-bottom:16px
    }
}

@media (min-width: 40.0625em) {
    .nhsuk-summary-list__value {
        width:50%
    }
}

.nhsuk-summary-list__value>p {
    margin-bottom: 8px
}

.nhsuk-summary-list__value>:last-child {
    margin-bottom: 0
}

.nhsuk-summary-list__actions-list {
    margin: 0;
    padding: 0;
    width: 100%
}

.nhsuk-summary-list__actions-list-item {
    display: inline;
    margin-right: 8px;
    padding-right: 8px
}

.nhsuk-summary-list__actions-list-item:not(:last-child) {
    border-right: 1px solid #d8dde0
}

.nhsuk-summary-list__actions-list-item:last-child {
    border: 0;
    margin-right: 0;
    padding-right: 0
}

.nhsuk-summary-list--no-border .nhsuk-summary-list__key,.nhsuk-summary-list--no-border .nhsuk-summary-list__value,.nhsuk-summary-list--no-border .nhsuk-summary-list__actions,.nhsuk-summary-list--no-border .nhsuk-summary-list__row {
    border: 0
}



.govuk-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px
}

@media print {
    .govuk-tag {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-tag {
        font-size:16px;
        font-size: 1rem;
        line-height: 1
    }
}

@media print {
    .govuk-tag {
        font-size: 14pt;
        line-height: 1
    }
}

.govuk-tag--inactive {
    background-color: #626a6e
}

.govuk-tag--grey {
    color: #454a4d;
    background: #eff0f1
}

.govuk-tag--purple {
    color: #3d2375;
    background: #dbd5e9
}

.govuk-tag--turquoise {
    color: #10403c;
    background: #bfe3e0
}

.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1
}

.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf
}

.govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3
}

.govuk-tag--red {
    color: #942514;
    background: #f6d7d2
}

.govuk-tag--pink {
    color: #80224d;
    background: #f7d7e6
}

.govuk-tag--green {
    color: #005a30;
    background: #cce2d8
}

.chart {
    margin-bottom: 40px;
}

.hide{
    display:none;
}
.raglist{
    font-size:16px;
}
.raglist h4{
    font-size:18px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add  padding inside the card container */
  .card-body {
    padding: 16px;
    margin-bottom: 16px;
  }

  .card-header {
    padding: 16px;
    background-color: #E8E8E8; /* F0F0F0 */
  }
  
 .card .card-header.red {
    background-color: #ffb3b3; /* F0F0F0 */
  }
  .card .card-header.amber {
    background-color: #ffe0b3; /* F0F0F0 */
  }
  .card .card-header.green {
    background-color: #ddffcc; /* F0F0F0 */
  }

.card a,
.raglist a {
    text-decoration: none;
}
  .rag{
      float: left;
      display:inline-block;
      min-width:75px;
      padding:5px;
      background-color: silver;
      margin-right:1em;
      margin-top:0;
      text-align:center;
  }

  .rag.red{
    background-color: #ffb3b3; /* F0F0F0 */
  }
  .rag.amber{
    background-color: #ffe0b3; /* F0F0F0 */
  }
  .rag.green{
    background-color:#ddffcc; /* F0F0F0 */
  }

  /* section for lifecycle stages */

#stages a.stage{
      min-width: 150px;
      font-size:14px;
      margin-top:0.5em;

    text-decoration: none;
    margin-bottom: 10px;
    line-height: normal;

    float: left;
    display: inline-block;
    padding: 5px;
    background-color: silver;
    margin-right: 1em;

    text-align: center;
}

#stages .stage.button {
    background-color: silver;
    color: #fff;
    height:50px;
}
#stages .label {
    font-size:16px;
    padding-top:0.5em;
    display:block;
    width:100%;
    text-align:center;
}
#stages .button.active {
    background-color: #B00933;
    color: #fff;
}
    #stages .stage.darkpurple {
        background-color: #B01288;
        color: #fff;
    }

    #stages .stage.darkgreen {
        background-color: #84B15F;
        color: #fff;
    }

    #stages .stage.darkred {
        background-color: #B00933;
        color: #fff;
    }

    #stages .stage.darkblue {
        background-color: #6771FF;
        color: #fff;
    }

    #stages .stage.darkorange {
        background-color: #FC7346;
        color: #fff;
    }


.panel-grey {
    border-style:solid;
    border-width:2px;
    border-color:silver;
    min-height:250px;
    background-color: #eff0f1;
    margin-top:0;
    padding-bottom:0.75em;
    margin-bottom:1em;
}

.panel-grey h3{
    font-size:18px;
    margin-bottom:0.5em;
    padding-left:0.5em;
}

    .panel-grey .inline-icon {
        display: block;
        float: left;
        margin-top: 6px;
        margin-left: 10px;
    }

#parent {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

    #parent > li {
        display: inline-block;


    }

/* legend.eforms-fieldgroupname {
    font-size: 20px !important;
    
}
form label.eforms-label{
    font-weight:100 !important;
    font-size:16px !important;
}
form .eforms-field {
    margin-top: 6px !important;
}
form label {
    font-weight: 100 !important;
    font-size: 16px !important;
} */

.galleryItems__card img{
    width:100%;
}


.expander.expander-most details summary span {
    background-image: url(../icons/expander-plus-icon.svg);
}

.expander.expander-most details[open] summary span {
    background-image: url(../icons/expander-minus-icon.svg) !important
}

.statistic {
    width: auto;
}

.statistic--sm {
    padding: 27px 28px 22px;
}

.statistic--sm .statistic__numberStat {
    font-size: 34px;
}
.statistics-section--sm {
    padding-top: 0;
    margin-left: -8px;
    margin-right: -8px;
}

.statistic--sm .statistic__number,
.statistic--sm .statistic__number-output {
    word-break: normal;
}

.statistics-section--bold .statistic--colour-5 .statistic__information,
.statistics-section--bold .statistic--colour-6 .statistic__information {
    border-color: currentColor;
    color: currentColor;
}

.statistics-section--bold .statistic--colour-5,
.statistics-section--bold .statistic--colour-6 {
    border: none;
}

.statistics-section--bold .statistic--colour-5 {
    color: #fff;
    background-image: linear-gradient(56deg,#9c7809 9%,#cc7b03);
}

.statistics-section--bold .statistic--colour-6 {
    color: #fff;
    background-image: linear-gradient(56deg,#a01309 9%,#ca0303);
}


.mw-char {
    max-width: 65ch;
}

.nhs-timeline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nhs-timeline__entry {
    border-left: 3px solid #005EB8;
    margin: 0;
    padding-left: 1em;
    padding-bottom: 2em !important;
    position: relative;
}

.nhs-timeline__entry--dash {
    border-left-style: dashed;
}

.nhs-timeline__entry::before,
.nhs-timeline__entry::after {
    background-color: #005EB8;
    content: ' ';
    display: none;
}

.nhs-timeline__entry::before {
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: .8em;
    width: 10px;
}

.nhs-timeline__entry::after {
    height: 3px;
    left: -11px;
    position: absolute;
    bottom: 0;
    width: 20px;
}

.nhs-timeline__entry:last-child::after {
    display: block;
}

.nhs-timeline__entry .nhs-timeline__title {
    display: block;
    font-weight: 700;
}

.nhs-timeline__entry .nhs-timeline__author,
.nhs-timeline__entry .nhs-timeline__date {
    color: #6f777b;
    display: block;
}

.nhs-timeline__entry .nhs-timeline__info {
    margin-top: 0;
}

.nhs-timeline__entry .nhs-timeline__body {
    display: block;
}


.emphasis-box__heading {
    display: block;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 36px;
}

#scoretitle,
.score-tag {
    font-weight: bold;
    display: inline-block;
    padding: 3px 8px;
}

.text-very-high {
    color: #942514;
    background: #f6d7d2;
}


.text-high {
    color: #6e3619;
    background: #fcd6c3;
}

.text-medium {
    color: #594d00;
    background: #fff7bf;
}

.text-low {
    color: #10403c;
    background: #bfe3e0;
}

.text-very-low {
    color: #005a30;
    background: #cce2d8;
}

.eforms .radiogroup {

}

/*
.eforms .radiogroup li {
    clear: left;
    display: block;
    margin-bottom: 8px;
    min-height: 40px;
    padding: 0 0 0 40px;
    position: relative;
}
.eforms .radiogroup label::before {
    background: #fff;
    border: 2px solid #4c6272;
    border-radius: 50%;
    box-sizing: border-box;
    content: '';
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.eforms .radiogroup label::after {
    background: #4c6272;
    border: 10px solid #212b32;
    border-radius: 50%;
    content: '';
    height: 0;
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 10px;
    width: 0
}

.nhsuk-radios__input:focus+.nhsuk-radios__label::before {
    border: 4px solid #212b32;
    box-shadow: 0 0 0 4px #ffeb3b;
    outline: 4px solid transparent;
    outline-offset: 4px
}

.nhsuk-radios__input:checked+.nhsuk-radios__label::after {
    opacity: 1
}

.nhsuk-radios__input:disabled,.nhsuk-radios__input:disabled+.nhsuk-radios__label {
    cursor: default
}

.nhsuk-radios__input:disabled+.nhsuk-radios__label {
    opacity: .5
}

.eforms .radiogroup input {
    cursor: pointer;
    height: 40px;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 1;
}
    */

#questionsarea * + * {
    margin-top: 0;
}

.nhsuk-form-group {
    margin-bottom: 16px
}

@media (min-width: 40.0625em) {
    .nhsuk-form-group {
        margin-bottom:24px
    }
}

.nhsuk-form-group .nhsuk-form-group:last-of-type {
    margin-bottom: 0
}


.nhsuk-label {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    margin-bottom: 4px
}


.nhsuk-select {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    border: 2px solid #4c6272;
    box-sizing: border-box;
    height: 40px;
    max-width: 100%;
    padding: 4px
}

@media (min-width: 40.0625em) {
    .nhsuk-select {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.47368
    }
}

@media print {
    .nhsuk-select {
        font-size: 14pt;
        line-height: 1.15
    }
}

.nhsuk-select:focus {
    border: 4px solid #212b32;
    box-shadow: 0 0 0 4px #ffeb3b;
    outline: 4px solid transparent;
    outline-offset: 4px
}

.nhsuk-select option:active,.nhsuk-select option:checked,.nhsuk-select:focus::-ms-value {
    background-color: #005eb8;
    color: #fff
}


.nhsuk-input {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #4c6272;
    border-radius: 0;
    box-sizing: border-box;
    height: 40px;
    margin-top: 0;
    padding: 4px;
    width: 100%
}

@media (min-width: 40.0625em) {
    .nhsuk-input {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.47368
    }
}

@media print {
    .nhsuk-input {
        font-size: 14pt;
        line-height: 1.15
    }
}

.nhsuk-input:focus {
    border: 4px solid #212b32;
    box-shadow: 0 0 0 4px #ffeb3b;
    outline: 4px solid transparent;
    outline-offset: 4px
}

.nhsuk-input::-webkit-outer-spin-button,
.nhsuk-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.nhsuk-input[type="number"] {
    -moz-appearance: textfield
}

.nhsuk-input--error {
    border: 4px solid #d5281b
}

.nhsuk-input--width-30 {
    max-width: 59ex
}

.nhsuk-input--width-20 {
    max-width: 41ex
}

.nhsuk-input--width-10 {
    max-width: 23ex
}

.nhsuk-input--width-5 {
    max-width: 10.8ex
}

.nhsuk-input--width-4 {
    max-width: 9ex
}

.nhsuk-input--width-3 {
    max-width: 7.2ex
}

.nhsuk-input--width-2 {
    max-width: 5.4ex
}


.nhsuk-hint {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #4c6272;
    display: block;
    margin-bottom: 16px
}

.nhsuk-radios__item {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    clear: left;
    display: block;
    margin-bottom: 8px;
    min-height: 40px;
    padding: 0 0 0 40px;
    position: relative
}

.nhsuk-radios__item:last-child,.nhsuk-radios__item:last-of-type {
    margin-bottom: 0
}

.nhsuk-radios__input {
    cursor: pointer;
    height: 40px;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 1
}

.nhsuk-radios__label {
    -ms-touch-action: manipulation;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 12px 4px;
    touch-action: manipulation
}

.nhsuk-radios__hint {
    display: block;
    padding-left: 12px;
    padding-right: 12px
}

.nhsuk-radios__input+.nhsuk-radios__label::before {
    background: #fff;
    border: 2px solid #4c6272;
    border-radius: 50%;
    box-sizing: border-box;
    content: '';
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px
}

.nhsuk-radios__input+.nhsuk-radios__label::after {
    background: #4c6272;
    border: 10px solid #212b32;
    border-radius: 50%;
    content: '';
    height: 0;
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 10px;
    width: 0
}

.nhsuk-radios__input:focus+.nhsuk-radios__label::before {
    border: 4px solid #212b32;
    box-shadow: 0 0 0 4px #ffeb3b;
    outline: 4px solid transparent;
    outline-offset: 4px
}

.nhsuk-radios__input:checked+.nhsuk-radios__label::after {
    opacity: 1
}

.nhsuk-radios__input:disabled,.nhsuk-radios__input:disabled+.nhsuk-radios__label {
    cursor: default
}

.nhsuk-radios__input:disabled+.nhsuk-radios__label {
    opacity: .5
}

@media (min-width: 40.0625em) {
    .nhsuk-radios--inline:after {
        clear:both;
        content: '';
        display: block
    }

    .nhsuk-radios--inline .nhsuk-radios__item {
        clear: none;
        float: left;
        margin-right: 24px
    }
}

.nhsuk-radios--inline.nhsuk-radios--conditional .nhsuk-radios__item {
    float: none;
    margin-right: 0
}

.nhsuk-radios__divider {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #212b32;
    margin-bottom: 8px;
    text-align: center;
    width: 40px
}

@media (min-width: 40.0625em) {
    .nhsuk-radios__divider {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.47368
    }
}

@media print {
    .nhsuk-radios__divider {
        font-size: 14pt;
        line-height: 1.15
    }
}

.nhsuk-radios__conditional {
    margin-bottom: 16px;
    border-left: 4px solid #4c6272;
    margin-left: 18px;
    padding-left: 30px
}

@media (min-width: 40.0625em) {
    .nhsuk-radios__conditional {
        margin-bottom:24px
    }
}

.nhsuk-radios__conditional>:last-child {
    margin-bottom: 0
}